@CHARSET "ISO-8859-1";
.pos1 
{
position:absolute;
top:10px;
left:870px;
}
.pos2
{
position:absolute;
top:30px;
left:1173px;
}
.pos2_1
{
position:absolute;
top:30px;
left:1255px;
}
.pos2_2
{
position:absolute;
top:30px;
left:1277px;
}
.pos3
{
position:absolute;
top:70px;
left:62%;
}
.pos4
{
position:absolute;
top:96px;
left:1206px;
}
.pos5 
{
position:absolute;
top:400px;
left:35px;
}
